
body {
	width: 350px;
}

h3 {
	font-family: "consolas";
}

button {
	background-color: lightgreen;
	border: 1px;
	width: 80%;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 10px auto;
	display: block;
}

#header {
	text-align: center;
	margin-bottom: 30px
}

#debug_window {
	border: 1px solid #ebebeb;
	padding: 5px 0 5px 0;
}

.seperator {
	margin-top: 8px;
	margin-bottom: 8px;
	border-top:  1px solid #ebebeb;
}