
body {
	width: 320px;
}

h3 {
	font-family: "consolas";
}

#header {
	text-align: center;
	margin-bottom: 30px
}

#debug_window {
	border: 1px solid #ebebeb;
	padding: 5px 0 5px 0;
}

.seperator {
	margin-top: 8px;
	margin-bottom: 8px;
	border-top:  1px solid #ebebeb;
}